<div class="container">
<br>
    <h2>About Perfect Fur Hire </h2>
    <br>
    <p>Welcome to our website! About Rover
        Welcome to the world's largest network of 5-star pet sitters and dog walkers.
        We believe everyone deserves the unconditional love of a pet - and at Rover, our mission is to make it easier to experience that love.

        Founded in 2011, the Rover app and website connect dog and cat parents with loving pet sitters and dog walkers in neighborhoods across the US, Canada, the UK and Europe.

        We empower our community of trusted pet sitters and dog walkers to run their own pet care services on Rover with the tools and security of a global company to back them </p>
    <br>
    <br>

    <p>   Millions of services booked. Thousands of wagging tails.10 countries 24,000 + neighbourhoods around the world 2+ million
    pet owners have booked pet care through Rover Millions of 5-star reviews from pet owners.</p>
  <!-- Add more content as needed --> 
    <br>

    
</div>
    <%= image_tag "pets.png", class: 'img-about-us w-100'%> 

<br>
<div class="container">
    <p>  Good pets. Good people.
        Whether you need a dog walker for the day, overnight boarding for a month, or daily visits for your cat, there's a sitter on Rover who's the perfect match for you, your pets and your lifestyle. Sitters on Rover offer:  </p>
    <div class="row">
        <div class="col-sm-6">
            <ul class="about-us-content__list">
                <li>Boarding</li>
                <li>Pet Sitting</li>
                <li>Dog Walking</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <ul class="about-us-content__list">
                <li>Doggy Day Care</li>
                <li>Drop-in Visits</li>
                <li>House Sitting</li>
            </ul>
        </div>
    </div>
 <%# <img src="yusuf62.png" alt="Description of the image"> %>

  <!-- Add more content as needed -->
</div>

 <%= image_tag "petts.png", class: 'img-about-us w-100'%>