<div class="top-image">
  <%= image_tag("top.png", {:style => "width:100%" }) %>

  <div class="call-to-action-container">

    <h2 class="brand-name">Perfect fur Hire</h2>
    <%= link_to "View all dogs", pets_path, class: "btn btn-warning" %>
  </div>
</div>
