<div class="top-image">
  <div class="call-to-action-image-container">
    <%= image_tag("top.jpeg", {:style => "width:100%" }) %>

    <h2 class="brand-name">Perfect fur Hire</h2>
    <%= link_to "View all dogs", pets_path, class: "btn btn-warning" %>

  </div>
</div>
