<div class="container text-center home-page">

    <br>
    <br>
    <br>
    <br>
    <br>
      <h1>Perfect fur hire</h1>
    <br>
    <br>
    <br>
     <%# <a class="btn btn-ghost" href="#">View all pets</a> %>
    <%= link_to "View all pets", pets_path, class: "btn btn-ghost" %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h4>Welcome to the perfect fur rental life</h4>

</div>
<video autoplay loop muted  class= "w-100">
    <source src="<%= asset_path 'yusuf.mp4' %>" type="video/mp4">
    Your browser does not support the video tag.
</video>


